.home_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.home_container h1 {
    font-size: 2.5em;
    margin-bottom: .5em;
    text-shadow: 0 0 3px black;
}

.home_container h1 span {
    color: #ffbb33;
    padding: 0 .2em;
    background-color: #222;
    border-radius: 0.5em;
}

.home_container p {
    margin-bottom: 1.5em;
    color: black;
    text-shadow: 1px 1px 3px gray;
}

.home_container img {
    width: 350px;
    margin: 2em 0;
}