.novoprojeto_container {
    width: 450px;
    margin: 0 auto;
    padding: 3em;
}

.novoprojeto_container h1 {
    margin-bottom: 0.5em;
    text-shadow: 0 0 3px black;
}

.novoprojeto_container p {
    color: black;
    text-shadow: 1px 1px 3px gray;
}